
{% extends "index.html" %}


{% block content %}
<div class="container">
	<form action="http://localhost:5000" method="post">
	  <div class="form-group">
 		<label for="usr">Name:</label>
  		<input type="text" class="form-control" id="usr" name="user_tag">
	  </div>

	  {% if colors %}
	  	<div class="form-group">
	 
	  		<label for="color">Select color: </label>
	   	<div id="color_pallet">
	  	
	  	{% for i in colors %}
	  		<button type="button" class="btn btn-primary btn-md" style="background-color:{{i}}">  </button>
	
	  		
	  	{% endfor %}
	  	{% endif %}

	  	</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<div class="rectangle">Hello</div>
	</form>
</div>



{% if message %}
	{% if valid_word==True %}
		<td>
		<div class="alert alert-success">
		  <strong>{{message}}</strong> 
	{% else %}
		<td>
			<div class="alert alert-danger">
			<strong>{{message}}</strong>

	{% endif %}
{% endif %}
{% endblock %}

