
{% extends "index.html" %}


{% block content %}
<div class="container">
	<form action="http://localhost:5000" method="post" data-toggle="validator" role="form">
	  <div class="form-group">
 		<label for="usr">Name:</label>
  		<input type="text" class="form-control" id="usr" name="user_tag" required>
	  </div>

	  {% if colors %}
	  	<div class="form-group">
	 
	  		<label for="color">Select color: </label>
	   		<div id="color_pallet">
	  	
	  		{% for i in colors %}
	  			<button type="button" onclick="reactClick(event)" class="btn btn-primary btn-lg" style="background:{{i}}">  </button>
	
	  		
	  		{% endfor %}
	  		</div>
	  {% endif %}

	  	<input type="hidden" name="hidden_color_field" id="hide">
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<script>
count=0
var dict=[]
function reactClick(event)
{

	var x=event.target.style.background
	dict.fill(x)
	count++;onclick
	
	document.getElementById("hide").value+=x
	
}

</script>



{% if message %}
	{% if valid_word==True %}
		<td>
		<div class="alert alert-success">
		  <strong>{{message}}</strong> 
	{% else %}
		<td>
			<div class="alert alert-danger">
			<strong>{{message}}</strong>

	{% endif %}
{% endif %}
{% endblock %}

